.panel {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

.panel-title {
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px;
  text-transform: uppercase;
}

.panel-content {
  padding: 20px 10px;
}
