.panel-title {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.panel-content {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px 10px;
}
