.home-screen {
  height: 100%;
}

.home-screen .home-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.home-screen .home-header > h1 {
  font-size: 4em;
  margin: 100px 0;
}

.home-screen .home-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-screen .home-content .home-link {
  align-items: center;
  background: var(--primary-color);
  border-radius: 10px;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  font-weight: 700;
  height: 250px;
  justify-content: center;
  letter-spacing: 1px;
  margin: 100px 50px 0 50px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.5s;
  width: 250px;
}

.home-screen .home-content .home-link:hover {
  background: var(--font-color);
  color: var(--primary-color);
}

.home-screen .home-content .home-link > i {
  font-size: 6em;
}

.home-screen .home-content .home-link > span {
  margin-top: 30px;
  text-align: center;
  white-space: nowrap;
}
