.home-screen {
  height: 100%;
}

.home-screen .home-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.home-screen .home-header > h1 {
  font-size: 4em;
  margin: 100px 0;
}
