.brand {
  align-items: center;
  background-color: var(--primary-color);
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  font-size: 1.5em;
  font-weight: 700;
  height: 100%;
  letter-spacing: 1px;
  padding-left: 20px;
}
