.organizer-navbar {
  grid-area: navbar;
}

.organizer-sidebar {
  grid-area: sidebar;
  overflow: scroll;
}

.organizer-main {
  grid-area: main;
  padding: 20px;
  overflow: scroll;
}

.organizer-brand {
  grid-area: brand;
}

.organizer-layout {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 60px auto;
  grid-template-areas: 'brand navbar' 'sidebar main';
  height: 100%;
}

@media only screen and (max-width: 640px) {
  .organizer-layout {
    grid-template-columns: auto auto;
    grid-template-areas: 'brand brand' 'main main';
  }
  .organizer-navbar {
    display: none;
  }
  .organizer-sidebar {
    display: none;
  }
}
