.btn {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.5s;
}

.btn:active {
  top: 1px;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--font-color);
}

.btn-primary:hover {
  color: var(--primary-color);
  background: var(--font-color);
}
