.profile {
  display: flex;
}

.profile-image {
  margin-right: 20px;
}

.profile-image > img {
  max-height: 200px;
  margin-bottom: 20px;
}

.profile-info {
  width: 100%;
}

.profile-form {
  margin: 40px 0;
}

.profile-form > * {
  margin-bottom: 15px;
}

.profile-button {
  float: right;
}
