.avatar-menu {
  position: relative;
}

.avatar-menu .menu-content {
  position: absolute;
  right: 0;
  background: #333;
  border-radius: 3px;
  width: 200px;
  margin-top: 15px;
  padding: 15px;
}

.avatar-menu .menu-content > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.avatar-menu .menu-content > ul > li {
  margin-bottom: 15px;
}

.avatar-menu .menu-content > ul > li:last-child {
  margin-bottom: 0;
}

.avatar-menu .menu-content > ul > li.menu-title {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  letter-spacing: 1px;
}
